<div class="side-section nav">
    <p class="side-title">CRM</p>
    <a class="{{ route == 'app_crm' ? 'active' : '' }}" href="{{ path('app_crm') }}">Воронки</a>
    <a class="{{ route == 'app_crm_clients' ? 'active' : '' }}" href="{{ path('app_crm_clients') }}">Клиенты и организации</a>
    <a class="{{ route == 'app_crm_tasks' ? 'active' : '' }}" href="{{ path('app_crm_tasks') }}">Задачи</a>
    <a class="{{ route == 'app_crm_integrations' ? 'active' : '' }}" href="{{ path('app_crm_integrations') }}">Интеграции</a>
</div>